@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

body{
    font-size: 0.5cm;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: black;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    float: left;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: auto;
    margin:0;
    background-color: #f5f6f7
}

#footer{
    font-size: 1em;
    color:rgb(0,0,0);
    /* background-color: rgb(80%,80%,80%); */
    text-align: center;
    padding-bottom: 3px;
    margin: 0%;
}

#footer-text{
    margin: 5px;
}


.container{
    /* width: 100%; Will be changed by a javascript */
    /* background-color: aliceblue; */
    image-orientation: inherit;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-image: url('../sources/background.jpg');
    background-size: cover;
    background-origin: content-box;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}

.container-wrapper{
    width: inherit;
    height: inherit;
    margin:0;
    background: rgba(0%,0%,0%,0.3);
    opacity: 50%;
}

.container-header{
    font-size: 1.5em;
    text-align: center;
}

.padding{
    padding-top: 30%;
    padding-left: 5%;
    padding-bottom: none;
}

.title,.info{
    font-family: 'Allerta Stencil', sans-serif;
    text-shadow: black;
    color: white;
    margin: 0%;
    font-size: 3.5cm;
    overflow: hidden;
}

.info{
    padding-top: 45%;
    margin: 0;
    padding-left: 5%;
}

code,.codestyle{
    font-family: Consolas, 'Courier New', monospace;
    color: #e64d3e;
}

code{
    border: 1px;
    border-color:#e0e3e4;
    border-style: solid;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 1em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%
}
